<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <connectionStrings>
    <!-- Local -->
    <!--
    <add name="GitDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GitDB;Integrated Security=False;User Id=;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    -->

    <!-- Remote -->
    <add name="GitDB" connectionString="Data Source=34.208.160.108;Initial Catalog=GitDB;Integrated Security=False;User Id=;Password=;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="RepoBasePath" value="C:\Repo\"/>
  </appSettings>
</configuration>
